select{width: 8.2em; padding: 5px 20px 5px 5px; border-radius: 5px; vertical-align: middle; font-size: 0.725em;}
ul, li{list-style: none;}
.fl-fs{display: flex; justify-content: flex-start;}
.fr{display: flex; float: right;}


/* 총 생산량, 총 수율 CSS */
.card{border-radius: 10px; height: 100%; font-size: 1.2em;}
.card .card-body .clearfix h4{font-size: 1.025em; font-weight: 700; line-height: 1;}
.main-panel .content-wrapper .row .card-body > dl{display: inline-block; width: 46%; height: 115px; border-radius: 4px; padding: 12px 0; max-width: 100%; margin-right: 1rem;}
.main-panel .content-wrapper .row .card-body > dl:nth-child(2){background : linear-gradient(90deg, #fdd3c0, #fe7496);}
.main-panel .content-wrapper .row .card-body > dl:nth-child(3){background : linear-gradient(90deg, #9dcff7, #0988f5);}
.main-panel .content-wrapper .row .card-body > dl:nth-child(4){background : linear-gradient(90deg, #97e9cb, #05c0a4);}
.main-panel .content-wrapper .row .card-body > dl:nth-child(5){background : linear-gradient(90deg, #abb6f7, #7b38c7);}
.main-panel .content-wrapper .row .card-body dl dt{text-align: center; color: #fff; margin-bottom: 20px; font-size: 0.85em;}
.main-panel .content-wrapper .row .card-body dl dd{text-align: center; font-size: 1.25em; color: #fff; margin-bottom: 0; font-weight: 700;}
.main-panel .content-wrapper .row .card-body > dl:nth-child(3){margin-right: 0;}
.main-panel .content-wrapper .row .card-body > dl:nth-child(5){margin-right: 0;}
.main-panel .content-wrapper .row .card-body dl dd span{font-size: 13.5px;}
.main-panel .content-wrapper .row .card-body select{margin-top: -5px;}

/* 생산량 CSS */
.product{text-align: center; margin-top: 40px;}
.product p{font-size: 1.25em;}
.product .pro-name{font-size: 0.95em; display: inline-block; margin-bottom: 22px; font-weight: 700; color: #fff;}
.product .ml{font-size: 0.95em;}
.pro-cont{display: flex; justify-content: space-around; background-color: #424553; border-radius: 5px; padding: 26px 50px 28px 50px; font-weight: 500;}
.pro-cont div p{display: inline; color: #fff;}
.pro-cont div:first-child{border-right: #72747d 1px solid; padding-right: 20%;}
.pro-cont .per{margin-top: 5px;}
.pro-cont .per span{font-size: 0.95em;}
.pro-cont .per p::before{background: url(../images/Common/arrow.png) no-repeat; content: ""; width: 35px; height: 47px; display: inline-block; vertical-align: middle; margin-right: 18px;}

/* 에너지 사용량 CSS */
.enr-cont{padding-top: 20px; padding-right: 15%;}
.enr-usg{display: inline-flex;}
.enr-usg p{font-size: 0.95em; color: #fff;}
.all-use{border-right: #72747d 1px solid; margin-right: 15%; padding-right: 15%;}
.enr-cir{width: 132px; height: 132px; border-radius: 50%; position: relative;}
.enr-cir p{font-size: 1.25em; font-weight: 700; color: #fff;}
.all-use .enr-cir{background : linear-gradient(180deg, #45b2ff, #0057b8); }
.energy-eff .enr-cir{background : linear-gradient(180deg, #b895ff, #4c2dbf);}
.all-use .enr-cir p{position: absolute; top: 30%; left: 27%;}
.all-use .enr-cir .unit{position: absolute; font-size: 0.75em; top: 52%; left: 40%;}
.energy-eff .enr-cir p{position: absolute; top: 38%; left: 33%;}

/* 설비 가동 현황 CSS */
.equip-title{margin-bottom: 38px !important;}
.equip-cont{margin-bottom: 32px;}
.equip-cont:last-child{margin-bottom: 0;}
.equip-graph-title{display: flex; justify-content: space-between; margin-bottom: 12px;}
.equip-graph-title .fl-fs p{font-size: 0.95em; padding: 0; margin: 0; color: #fff;}
.equip-graph-title .fl-fs p::before{content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background-color: #a8a8a8; margin-right: 10px; margin-left: 5px; vertical-align: middle;}
.equip-graph-title .fr p{font-size: 0.875em; padding: 0; margin: 0;}
.equip-graph{background-color: #222531; width: 100%; height: 70px; border-radius: 10px; display: flex; justify-content: space-around; padding: 16px 30px;}
.equip-graph ul{display: flex; justify-content: space-between; width: 100%; font-size: 0.95em; padding: 0; margin: 0 5em 0 0;}
.equip-graph ul:last-child{margin-right: 0;}
.equip-graph ul li{line-height: 38px; vertical-align: bottom; color:#fff;}
.temper::before{background: url(../images/Common/temper.png) no-repeat; display: inline-block; content: ""; width: 40px; height: 40px; vertical-align: bottom; background-position: center center; margin-right: 15px;}
.rpm::before{background: url(../images/Common/rpm.png) no-repeat; display: inline-block; content: ""; width: 40px; height: 40px; vertical-align: bottom; background-position: center center; margin-right: 15px;}
.flux::before{background: url(../images/Common/flux.png) no-repeat; display: inline-block; content: ""; width: 40px; height: 40px; vertical-align: bottom; background-position: center center; margin-right: 15px;}

@media screen and (max-width:640px){
    .equip-graph{display: inline-block; height: 100%; padding: 5px;}
    .equip-graph ul{margin-bottom: 5px;}
    .equip-graph ul:last-child{margin-bottom: 0;}
    .temper::before{margin-right: 5px;}
    .rpm::before{margin-right: 5px;}
    .flux::before{margin-right: 5px;}
}