select{width: 8.2em; padding: 5px 18px 4px 5px; border-radius: 5px; vertical-align: middle; font-size: 0.95em;}
ul, li{list-style: none;}
.fl-fs{display: flex; justify-content: flex-start;}
.fr{display: flex; float: right;}



.card{border-radius: 10px; height: 100%;}
.card .card-body .clearfix h4{font-size: 1.3em; font-weight: 500;}
.main-panel .content-wrapper .row .card-body > dl{display: inline-block; width: 46%; height: 115px; border-radius: 4px; background-color: #fff; padding: 12px 0; max-width: 100%; margin-right: 1rem;}
.main-panel .content-wrapper .row .card-body dl dt{text-align: center; font-size: 1.05em; color: #333; margin-bottom: 20px; font-weight: 800;}
.main-panel .content-wrapper .row .card-body dl dd{text-align: center; font-size: 1.6em; color: #4667cc; margin-bottom: 0; font-weight: 500;}
.main-panel .content-wrapper .row .card-body > dl:nth-child(3){margin-right: 0;}
.main-panel .content-wrapper .row .card-body > dl:nth-child(5){margin-right: 0;}
.main-panel .content-wrapper .row .card-body select{margin-top: -5px;}

/* 생산량 CSS */
.product{text-align: center; margin-top: 40px;}
.product p{font-size: 1em;}
.product .pro-name{font-size: 1.2em; display: inline-block; margin-bottom: 22px;}
.product .ml{font-size: 0.8em;}
.pro-cont{display: flex; justify-content: space-around; background-color: #424553; border-radius: 5px; padding: 28px 48px;}
.pro-cont div{font-size: 1.6em;}
.pro-cont div p{display: inline;}
.pro-cont div:first-child{border-right: #fff 1px solid; font-size: 1.6em; padding-right: 60px;}
.pro-cont .per{margin-top: 15px;}
.pro-cont .per p::before{background: url(../images/Common/arrow.png) no-repeat; content: ""; width: 35px; height: 47px; display: inline-block; vertical-align: middle; margin-right: 18px;}

/* 에너지 사용량 CSS */
.enr-cont{padding: 42px;}
.enr-usg{display: inline-flex;}
.enr-usg p{font-size: 1.2em;}
.all-use{border-right: #fff 1px solid; margin-right: 50px; padding-right: 50px;}
.enr-cir{width: 132px; height: 132px; border-radius: 50%; font-size: 1.6em; position: relative;}
.all-use .enr-cir{background-color: #37cf74;}
.energy-eff .enr-cir{background-color: #8ee0fd;}
.all-use .enr-cir p{position: absolute; top: 26%; left: 22%;}
.all-use .enr-cir .unit{position: absolute; font-size: 0.8em; top: 54%; left: 35%;}
.energy-eff .enr-cir p{position: absolute; top: 32%; left: 29%;}

/* 설비 가동 현황 CSS */
.sulbe-cont{margin-bottom: 32px;}
.sulbe-graph-title{display: flex; justify-content: space-between;}
.sulbe-graph-title .fl-fs p{font-size: 1.2em;}
.sulbe-graph-title .fl-fs p::before{content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background-color: #a8a8a8; margin-right: 15px; vertical-align: middle;}
.sulbe-graph-title .fr p{font-size: 1.125em;}
.sulbe-graph{background-color: #222531; width: 100%; height: 70px; border-radius: 10px; display: flex; justify-content: space-around; padding: 16px 30px;}
.sulbe-graph ul{display: flex; justify-content: space-around; width: 100%; font-size: 1.2em;}



